
<div id="dht-form-wrapper"></div>
<div id="dht-container">
    <div>
        <div class="gauge-section">
            <h3>Độ ẩm</h3>
            <div id="hum" class="gauge"></div>
        </div>
        <div class="gauge-section">
            <h3>Nhiệt độ</h3>
            <div id="temp" class="gauge"></div>
        </div>
    </div>
</div>

