
<%= render partial: 'shared/nav_menu', locals: { menu_items: [
  { label: 'Danh sách thiết bị', href: '#home', active: true },
] } %>

<div>
  <table class = "table">
  <thead>
    <th>Tên</th>  
    <th>ID</th>  
    <th>Thao tác</th>
  </thead>

  <% @devices.each do |device| %>
    <tr>
      <td><%= link_to device.name, device_path(device) %></td>
      <td><%= device.chip_id%></td>
      <td>Truy cập</td>
    </tr>
  <% end %>
  <tr>
</tr>
</table>

</div>

