<!-- app/views/devices/show.html.erb -->
<h1><%= @device.name %></p></h1>
<%= link_to 'Danh sách thiết bị', devices_path, class: 'btn btn-secondary' %>
<div>
  <label for="last-active">Lần hoạt động cuối:</label>
  <span id="last-active" style="border: none;"></span>
</div>


<br>
<br>
<% if @device.device_type == "switch" %>
    <div id="switch-div" style="display: block;">
    <%= render 'switchon_form', chip_id: @device.chip_id %>
    <div id="last-active-message-div"></div>
    </div>
<% end %>

<% if @device.device_type == "dht" %>
    <div class="row">
    <%= render 'dht_form' %>
    </div>
<% end %>