<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'https://khuonvien.com', class: 'navbar-brand' do %>
    <%= image_tag('logo_1.svg', alt: 'Logo') %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Các mục dẫn đến khác -->
</nav>