<h1>Project Details</h1>
<p><strong>Name:</strong> <%= @project.name %></p>
<p><%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %></p>
<p><%= link_to "Back to Projects", projects_path %></p>

