<div class="container">
<% if !flash[:notice].blank? %>
   <div>
      <%= flash[:notice] %>
   </div>
<% end %>

<br>

<%= link_to "New Resume", new_resume_path %>
<br>
<br>

<table border="3">
   <thead>
      <tr>
         <th>Candidate Name</th>
         <th>Download Link</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>

   </tbody>

</table>
</div>

